<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guolala.zxx.dao.BannerMapper">
  <resultMap id="BaseResultMap" type="com.guolala.zxx.entity.model.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="INTEGER" property="content" />
    <result column="order" jdbcType="VARCHAR" property="order" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guolala.zxx.entity.model.Banner">
    insert into t_banner (id, url, `type`, 
      content, `order`, create_time, 
      create_by, update_time, update_by, 
      deleted)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{content,jdbcType=INTEGER}, #{order,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guolala.zxx.entity.model.Banner">
    update t_banner
    set url = #{url,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=INTEGER},
      `order` = #{order,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, url, `type`, content, `order`, create_time, create_by, update_time, update_by, 
    deleted
    from t_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, url, `type`, content, `order`, create_time, create_by, update_time, update_by, 
    deleted
    from t_banner
  </select>

  <select id="selectBannersByType" resultMap="BaseResultMap">
    select id, url, `type`, content, `order`, create_time, create_by, update_time, update_by,
    deleted
    from t_banner where deleted = 0 and `type` = #{type}
    order by `order`
  </select>
</mapper>